<div>
    <div>
        <h1 style="color: blue; text-shadow: turquoise; text-align: center;"> SCOREBOARD </h1>
        <p style=" text-align: center;">Press "Score"-titled column to sort scores from the highest to lowest.</p>
    </div>
</div>
