<!DOCTYPE html>
<html>

	<head>
		<%- include('partials/head') %>
	</head>
	
	<body>
		<div class="header">
			<%- include('partials/header') %>
		</div>
		
		<div class="container">
			<%- body %>
		</div>
		
	</body>
	
</html>
