
<div class="row">

    <div class="col-sm-6">
        <table id="scoreboard" class="table striped">
            <thead>
            <tr>
                <th scope="col">Player</th>
                <th scope="col" id="playerScoreCol">Score</th>
            </tr>
            </thead>
            <tbody id="playersAndScores">
                <tr>
                    <td scope="row">GoodGame</th>
                    <td>9001</td>
                </tr>
                <tr>
                    <td scope="row">Nearly the Best</th>
                    <td>7598</td>
                </tr>
                <tr>
                    <td scope="row">Bronze</th>
                    <td>3000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
   
    <div class="col-sm-6" style="text-align: left; padding: 1em 1em 1em 1em;">
        <p style=" text-align: center;">Input your player name and the highscore to add it in to the scoreboard.</p>
        <input class="form-control" id="playerName" type="text" name="playerName" placeholder="Player name"/>
        <input class="form-control" id="playerScore" type="number" name="playerScore" placeholder="Player score"/>
        <button id="sendScore">Save</button>
        
    </div>
</div>

  